{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {{ mymap.js }}
    <div class="text-center">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6 text-center" id="selectAPorchfest" >
                {{ wtf.quick_form(form) }}
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6" id="map">
                {{ mymap.html }}
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
        <div class="col-xs-6 col-xs-offset-3" id="artistList">
            <b>Select an event to see the artists for a Porchfest</b>
        </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    var tableHTML, artistURL, porchfestID, porchfestText;
    var artistListElement = document.getElementById("artistList");
    function getArtistsForPorchfest(porchfestID) {
        $.ajax({
            url: '/_artists_for_porchfest?porchfestID=' + porchfestID,
            type: 'GET',
            success: function (artists) {
                $("#artistList").empty();
                porchfestText = $('#select_porchfest option:selected').text();
                if (artists.length === 0) {
                    artistListElement.innerHTML = "<b>There are no artists for the " + porchfestText + " Porchfest</b>"
                } else {
                    tableHTML = "<label>Artists for the " + porchfestText + " Porchfest</label>";
                    tableHTML += "<table class='table table-bordered bg-light table-hover'>";
                    artists.forEach(function (artist) {
                        artistURL = {{ url_for('artist', artist_name='') }}
                        artistURL += encodeURI(artist);
                        artistHTML = "<tr><td><b>";
                        artistHTML += "<a href=" + artistURL + ">" + artist;
                        artistHTML += "</a></b></td></tr>";
                        tableHTML += artistHTML;
                    });
                    tableHTML += "</table>";
                    artistListElement.innerHTML = tableHTML;
                }
            }
        });
        $.ajax({
           url: '/_shows_for_porchfest?porchfestID=' + porchfestID,
           type: 'GET',
           success: function (map_data) {
                var map = document.getElementById("fest_map");

               document.getElementById('fest_map').style.display = 'block';
               map = new google.maps.Map(
                       document.getElementById('fest_map'), {
                       center: new google.maps.LatLng(map_data['lat'], map_data['long']),
                       zoom: 13,
                       mapTypeId: google.maps.MapTypeId.ROADMAP,
                       zoomControl: true,
                       mapTypeControl: false,
                       scaleControl: true,
                       streetViewControl: false,
                       rotateControl: true,
                       scrollwheel: true,
                       fullscreenControl: true
                   });

               var raw_markers = [];

               for(i=0; i<map_data['markers'].length; i++){
                   raw_markers.push({"icon": "//maps.google.com/mapfiles/ms/icons/red-dot.png", "infobox": map_data['markers'][i]['info'], "lat": map_data['markers'][i]['lat'], "lng": map_data['markers'][i]['long']})
               }

               for(i=0; i<1;i++) {
                map_markers[i] = new google.maps.Marker({
                    position: new google.maps.LatLng(raw_markers[i].lat, raw_markers[i].lng),
                    map: map,
                    icon: raw_markers[0].icon,
                    title: raw_markers[i].title ? raw_markers[i].title : null
                });

                if(raw_markers[i].infobox)
                    {
                    google.maps.event.addListener(
                        map_markers[i],
                        'click',
                        getInfoCallback(map, raw_markers[i].infobox)
                    );
                    }
                }


                // fit all markers in bounds
                var map_bounds = new google.maps.LatLngBounds();
                for(i=0; i<map_markers.length;i++) {
                    map_bounds.extend(map_markers[i].getPosition());
                };
                map.fitBounds(map_bounds);


           }
        });
    }
    $(document).ready(function () {
        porchfestID = $('#select_porchfest option:selected').val();
        if (porchfestID !== "") {
            getArtistsForPorchfest(porchfestID)
        }
    });
    $("#selectAPorchfest").on('change', function () {
        porchfestID = $('#select_porchfest option:selected').val();
        if (porchfestID !== "") {
            getArtistsForPorchfest(porchfestID);
        } else {

        }
    });
    </script>
{% endblock %}